body    {
            background-color:rgb(22, 94, 166);
            font-family: Arial, Helvetica, sans-serif;
        }

h1      {
            text-align: center;
            font-size: 100px;
            text-shadow: 0 0 7px cyan;
        }

.animado    {
                position: relative;
                left: 500px;
                width: 450px;
                height: 450px;
                border-radius: 10px;
            }
.espana     {
                position: relative;
                width: 670px;
                height: 450px;
            }

.murcia     {
                position: relative;
                width: 750px;
                height: 450px;
                left: 80px;
            }
h3           {
               text-align: center;
                font-size: 50px;
            }